########## BABEL

here="$subhelp_dir"

# Contact email: please fill with person to contact in case of problem/question with submission
contact_email="email@example.com"

# SSH Destinations
scp_cmd=`which scp`
scp_args="-C -o CompressionLevel=9" 
# scp_args example: -i /path/to/identity

scp_user="kws-test"

# DO NOT change the following 'scp_' values
scp_host="control.nist.gov"
scp_uploads="./uploads"
scp_downloads="./downloads"
scp_status="./status"
scp_lockext="scp_uploaded_confirmation"

# Submission Host public IP
hostIP=`dig +short myip.opendns.com @resolver1.opendns.com`
# if the tools return an error, please 'google' "what's my IP"
# and put the value there

# JobRunner
jobrunner="$here/JobRunner.pl"

# HTML Progress Generator
htmlproggen="$here/HTMLProgressGen.pl"

# F4DE 
F4DEclib="$here/../../../common/lib"
# F4DE version
F4DEver="F4DE-3.4.0"
